:root {
  --primary-color: #51A2FF;
  --black: #040B16;
  --white: #fff;
  --gray: #C2C3D6;
  --gray-md: #163A69;
  --gray-dark: #081526;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 200;
  color: var(--gray);
  background-color: var(--black);
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}

.justify-content-between {
  justify-content: space-between;
}


h1 {
  font-size: 3rem;
  font-weight: 200;
  color: var(--white);

  span {
    color: var(--primary-color);
  }
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--white);

  &.title {
    font-size: 5rem;
    font-weight: 100;

    @media (max-width: 991px) {
      font-size: 2.5rem;
      font-weight: 100;
    }
  }

  span {
    color: var(--primary-color);
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--white);

  span {
    color: var(--primary-color);
  }
}

a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  transition: all .3s ease-out;

  &:hover {
    color: var(--primary-color);
  }
}

.section {
  padding: 150px 0;

  @media (max-width: 991px) {
    padding: 100px 0;
  }

  &.dark-bck {
    background: var(--gray-dark);
    padding-top: 150px !important;

    @media (max-width: 991px) {
      padding-top: 100px !important;
    }
  }

  +.section {
    padding-top: 0;

  }
}

.d-flex {
  display: flex;

  &.equal-children {
    >* {
      flex: 1;
      min-width: 0;
    }
  }
}

.gap-100 {
  gap: 100px;

  @media (max-width: 991px) {
    gap: 50px;
  }
}


.mobile-column {
  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.margin-0 {
  margin: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.padding-top-large {
  padding-top: 150px !important;

  @media (max-width: 991px) {
    padding-top: 100px !important;
  }
}

.padding-bottom-large {
  padding-bottom: 150px !important;

  @media (max-width: 991px) {
    padding-bottom: 100px !important;
  }
}

.text-center {
  text-align: center;
}

.intro-text {
  font-size: 1.25rem;
  font-weight: 300;

  @media (min-width: 992px) {
    max-width: 480px;
  }

  @media (max-width: 991px) {
    font-size: 1.125rem;
  }
}

.large-text {
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;

  span {
    color: var(--primary-color);
  }

  @media (max-width: 991px) {
    font-size: 2rem;
    line-height: 1.1;
  }
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;

  img {
    min-width: 100%;
    height: auto;
  }
}


/* Page Navigation  */

header {
  position: relative;
  z-index: 2;
  width: 100%;
  background: var(--gray-dark);
}

.logo {
  width: 165px;

  img {
    width: 100%;
  }
}

nav {
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 10;

  ul {
    padding-left: 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: .9rem;
        text-decoration: none;
        line-height: 20px;
        position: relative;
        font-weight: 600;
        color: var(--white);
        transition: all 0.2s ease-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: var(--primary-color);
        }
      }
    }

    &.main-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin: 0;
    }
  }

  .menu {
    position: absolute;
    right: 20px;
  }
}

.nav-desktop {
  @media screen and (max-width: 997px) {
    display: none !important;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.mobile-navigation-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @media (min-width: 997px) {
    display: none;
  }

  &.scrolled {
    position: fixed;
  }
}

.mobile-navigation-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 25px;
}

.mobile-navigation-close {
  width: 25px;
  z-index: 99;
  cursor: pointer;
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.mobile-navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 90;

  &.open {
    transform: translateY(0);
  }
}

.mobile-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  li {
    margin: 1.5rem 0;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      transition: color 0.3s ease;
    }
  }
}


/* Page Hero  */

.hero-home {
  padding: 150px 0;
  background: url('../images/hero-image-globe-markets.jpg') no-repeat top center;

  @media (max-width: 991px) {
    padding: 50px 0;
  }

  .container {
    position: relative;

    .hero-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
      z-index: 1;
      max-width: 900px;

      h2 {
        color: var(--primary-color);
        font-weight: 200;
        letter-spacing: 1px;
      }

      h1 {
        font-size: clamp(24px, 10vw, 90px);
        font-weight: 100;
        line-height: 1;
        color: var(--white);

        @media (min-width: 992px) and (max-width: 1279px) {
          font-size: clamp(24px, 6vw, 60px);
        }
      }
    }

    .video-container {
      height: 480px;
      display: flex;
      align-items: center;
      overflow: hidden;
      justify-content: flex-end;
      width: 520px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 0;

      @media (max-width: 991px) {
        position: relative;
        width: 100%;
        height: 300px;
        max-width: 300px;
        margin: 0 auto;
        top: 0;
        transform: none;
      }

      .video-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 180px;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      video {
        max-width: none;
        position: relative;
        right: -100px;
        box-sizing: border-box;
        height: 720px;
        width: 1280px;

        @media (max-width: 991px) {
          right: -40px;
          width: auto;
          height: 360px;
        }

      }
    }
  }

}

.page-hero {
  background: url('../images/hero-image-globe-markets.jpg') no-repeat top center;
  padding-top: 50px;

  @media (max-width: 991px) {
    font-size: 2rem;
  }

  h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 4rem;
    line-height: 1;
    font-weight: 600;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px 50px;
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--white), transparent) 1;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 2rem;
      width: calc(100% - 40px);
    }
  }
}

.hero_btn,
.btn-send {
  padding: 25px 60px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  background: var(--primary-color) !important;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-shadow: 0 4px 0 #00800080;
  width: 100%;

  @media (max-width: 991px) {
    padding: 15px 30px;
    font-size: 20px;
  }

  &:hover {
    transform: scale(1.1);
  }
}


/* List */

.item-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 50px 0;
    border-top: 1px solid var(--gray-md);
    border-bottom: 1px solid var(--gray-md);

    .container {
      display: flex;
      align-items: center;
      gap: 40px;
      color: var(--gray);

      @media (max-width: 991px) {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }

      span:first-of-type {
        font-size: 4rem;
        font-weight: 600;
      }

      span:last-of-type {
        font-size: 3rem;
        font-weight: 100;

        @media (max-width: 991px) {
          transform: rotate(90deg);
          height: 1px;
          position: relative;
          left: 56px;
        }
      }

      strong {
        font-size: 2rem;
        font-weight: 500;
        min-width: 45px;
      }

      h4 {
        font-size: 2rem;
        font-weight: 200;
      }

      img {
        height: 180px;
        width: 180px;
        margin-left: auto;

        @media (max-width: 991px) {
          width: 100%;
          height: auto;
          max-width: 420px;
          margin-left: 0;
        }
      }
    }

    +li {
      border-top: none;
    }
  }

  &.colors {
    li:nth-of-type(1) {
      span {
        color: #2F78CE;
      }
    }

    li:nth-of-type(2) {
      span {
        color: #5148D7;
      }
    }

    li:nth-of-type(3) {
      span {
        color: #8C38B3;
      }
    }

    li:nth-of-type(4) {
      span {
        color: #BC3084;
      }
    }

    li:nth-of-type(5) {
      span {
        color: #399F76;
      }
    }

    li:nth-of-type(6) {
      span {
        color: #39A5AD;
      }
    }
  }

}


/* Home Cards  */

.home-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-inline: 50px;
  gap: 15px;

  @media (max-width: 767px) {
    padding-inline: 20px;
    flex-direction: column;
  }

  @media (min-width: 767px) and (max-width: 991px) {
    padding-inline: 20px;
    flex-wrap: wrap;
  }

  @media (min-width: 992px) and (max-width: 1279px) {
    padding-inline: 20px;
  }

  .home-card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    min-width: 0;
    border-radius: 10px;
    padding: 30px 30px 50px;
    gap: 30px;
    background: var(--gray-dark);

    @media (min-width: 767px) and (max-width: 991px) {
      min-width: calc(50% - 15px);
    }

    img {
      width: 80px;
      height: 80px;
    }

    p {
      font-size: .9rem;
      max-width: 240px;
      padding-bottom: 35px;
      border-bottom: 1px solid;
      border-image: linear-gradient(90deg, var(--gray-md), transparent) 1;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        font-size: 4.5rem;
        font-weight: 700;
        margin-bottom: 0;

        @media (min-width: 992px) and (max-width: 1279px) {
          font-size: 3rem;
        }
      }

      span {
        font-size: 24px;
        margin: 0;
      }
    }

    h3 {
      font-weight: 700;
      margin-bottom: 0;
      font-size: clamp(42px, 4vw, 60px);
      line-height: 1;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      margin: 0;

      @media (min-width: 992px) and (max-width: 1279px) {
        font-size: 14px;
        letter-spacing: -0.5px;
        min-height: 105px;
      }
    }

    &:last-child {
      @media (max-width: 991px) {
        margin-bottom: 0;
      }
    }

    &:nth-of-type(1) {

      span,
      h3 {
        color: #51A2FF;
      }
    }

    &:nth-of-type(2) {

      span,
      h3 {
        color: #C27AFF;
      }
    }

    &:nth-of-type(3) {

      span,
      h3 {
        color: #05DF72;
      }
    }

    &:nth-of-type(4) {

      span,
      h3 {
        color: #00D3F2;
      }
    }
  }
}


/* Page Contant  */

form {
  max-width: 540px;

  label {
    display: block;
  }

  textarea,
  input {
    padding: 10px 5px;
    margin: 15px auto;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--gray);
    width: 100%;

    &::placeholder {
      color: var(--gray-dark);
      opacity: 1;
    }
  }
}

.h-captcha {
  margin-top: 15px !important;
  margin-bottom: 30px !important;
  display: flex;
  justify-content: center;
}

.headset_image {
  position: absolute;
  right: 10%;
  top: -50px;
}

.single_article {
  .container {
    max-width: 960px;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 50px 0 15px;

    @media (max-width: 991px) {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 30px 0 15px;

    @media (max-width: 991px) {
      font-size: 1.125rem;
    }
  }
}



/* Footer  */

.footer {
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .container {
    @media (max-width: 991px) {
      flex-direction: column;
    }

    >img {
      width: 165px;

      @media (max-width: 991px) {
        margin: 0 auto;
      }
    }

    .footer_item {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      font-size: .9rem;
      color: var(--white);

      @media (max-width: 991px) {
        align-items: center;
        text-align: center;
        gap: 15px;
      }

      a {
        font-weight: 600;
      }

      >img {
        margin-bottom: 10px;
      }

      h4 {
        color: var(--gray-md);
        font-size: 1.35rem;
        font-weight: 500;
        padding-bottom: 12px;
        position: relative;
        margin: 0;

        &::before {
          content: "";
          width: 50px;
          height: 2px;
          background: var(--gray-md);
          display: block;
          position: absolute;
          left: 0;
          top: 35px;

          @media (max-width: 991px) {
            left: calc(50% - 25px);
          }
        }
      }

      ul {
        padding-left: 0;
        margin: 0;

        li {
          text-align: left;
          margin-bottom: 30px;

          @media (max-width: 991px) {
            text-align: center;
          }
        }
      }

      span {
        min-width: 100px;
        display: inline-block;
        text-align: left;

        @media (min-width: 992px) and (max-width: 1279px) {
          font-size: 14px;
        }

        @media (max-width: 991px) {
          text-align: center;
        }
      }

      .link-item {
        display: flex;

        @media (max-width: 991px) {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}